<div class="container">
  <div class="row g-0">
    <div class="col-md-8">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img src="../../assets/images/category-images1.jpg" alt="" height="400">
        </ng-template>
        <ng-template carouselSlide>          <img src="../../assets/images/category-images2.jpg" alt="" height="400">
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="col-md-4">
      <img src="../../assets/images/3.jpg" alt="" class="w-100" height="200">
      <img src="../../assets/images/2.jpg" alt="" class="w-100" height="200">
    </div>
  </div>
</div>
